 #                             Kaggle Competition: EDSA Apple Prices Challenge

In this notebook we will focus on:
 - Data cleaning an fromatting (confirmatory data analysis)
 - Evaluate the best model on the testing set

**Getting started**

In [2]:
# import libaries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns

Now we will load the train data set of the EDSA Apple Prices Challenge

In [13]:
# load train set
df = pd.read_csv('df-train_set.csv')

In [10]:
# First view of the train set
df.head()

,Index,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
0,1,W.CAPE-BERGRIVER ETC,EC120,1M,12.0,APPLE GOLDEN DELICIOUS,2020-07-09,128.0,136.0,5008.0,38,456.0,0
1,2,W.CAPE-BERGRIVER ETC,M4183,1X,18.3,APPLE GOLDEN DELICIOUS,2020-01-20,220.0,220.0,1760.0,8,146.4,2
2,3,W.CAPE-BERGRIVER ETC,EC120,1S,12.0,APPLE GOLDEN DELICIOUS,2020-08-19,120.0,120.0,720.0,6,72.0,45
3,4,W.CAPE-BERGRIVER ETC,M4183,1M,18.3,APPLE GOLDEN DELICIOUS,2020-05-06,160.0,160.0,160.0,1,18.3,8
4,5,W.CAPE-BERGRIVER ETC,M4183,1L,18.3,APPLE GOLDEN DELICIOUS,2020-05-04,140.0,160.0,14140.0,100,1830.0,19

In [15]:
# Import the split function from sklearn
from sklearn.model_selection import train_test_split

In [ ]:
# Split the dataset

### Data Exploratory

Confirmatory Data Analysis

First we'll take a look at he first few rows of our training data

This function below tells us what columns are in the dataframe, how many null values they have and what datatype they are

## Predicting on the test set

### Preprocessing

The first thing we need to do is to get our data in the correct format. We will use the same techniques we used when preparing the training data to ensure we do not get any errors.

In [8]:
test_df = pd.read_csv('df-test_set.csv')

In [ ]:
test_df.head()