In [1]:
#import libraries
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from scipy.stats import norm
from scipy.stats import zscore
from mpl_toolkits.mplot3d import Axes3D
from sklearn.linear_model import LinearRegression
from scipy import stats
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, LassoCV, LassoLarsCV
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [40]:
# load train set and test set
df = pd.read_csv("https://raw.githubusercontent.com/MathewJohn1986/Team-8-Predict/main/df-train_set.csv")

In [41]:
test = pd.read_csv('https://raw.githubusercontent.com/MathewJohn1986/Team-8-Predict/main/df-test_set.csv')

In [50]:
#filtering out the Apple golden delicious
apples_df_filter = df[df['Commodities']== 'APPLE GOLDEN DELICIOUS']
apples_df = apples_df_filter.copy()
apples_df.head()

,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
1,CAPE,M4183,1L,18.3,APPLE GOLDEN DELICIOUS,2020-09-09,150.0,170.0,51710.0,332,6075.6,822,8.51
7,CAPE,JG110,2M,11.0,APPLE GOLDEN DELICIOUS,2020-04-14,50.0,50.0,16000.0,320,3520.0,0,4.55
24,W.CAPE-BERGRIVER ETC,JE090,2S,9.0,APPLE GOLDEN DELICIOUS,2020-04-16,55.0,55.0,990.0,18,162.0,1506,6.11
40,CAPE,M4183,1S,18.3,APPLE GOLDEN DELICIOUS,2020-05-04,80.0,120.0,32020.0,388,7100.4,443,4.51
69,EASTERN CAPE,IA400,1S,400.0,APPLE GOLDEN DELICIOUS,2020-09-28,1800.0,1800.0,1800.0,1,400.0,2,4.50

In [57]:
test.head()

,Index,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
0,1,W.CAPE-BERGRIVER ETC,EC120,1M,2.484907,APPLE GOLDEN DELICIOUS,2020-07-09,4.852030,4.912655,8.518792,3.637586,6.122493,0.000000
1,2,W.CAPE-BERGRIVER ETC,M4183,1X,2.906901,APPLE GOLDEN DELICIOUS,2020-01-20,5.393628,5.393628,7.473069,2.079442,4.986343,0.693147
2,3,W.CAPE-BERGRIVER ETC,EC120,1S,2.484907,APPLE GOLDEN DELICIOUS,2020-08-19,4.787492,4.787492,6.579251,1.791759,4.276666,3.806662
3,4,W.CAPE-BERGRIVER ETC,M4183,1M,2.906901,APPLE GOLDEN DELICIOUS,2020-05-06,5.075174,5.075174,5.075174,0.000000,2.906901,2.079442
4,5,W.CAPE-BERGRIVER ETC,M4183,1L,2.906901,APPLE GOLDEN DELICIOUS,2020-05-04,4.941642,5.075174,9.556763,4.605170,7.512071,2.944439

In [45]:
apples_df.skew()

Weight_Kg           3.328254
Low_Price           4.222672
High_Price          3.828819
Sales_Total         4.250317
Total_Qty_Sold      4.445169
Total_Kg_Sold       5.529586
Stock_On_Hand       3.391815
avg_price_per_kg    0.082452
dtype: float64

In [46]:
test.skew()

Index             0.000000
Weight_Kg         3.941111
Low_Price         4.585123
High_Price        4.326922
Sales_Total       3.839600
Total_Qty_Sold    3.710551
Total_Kg_Sold     4.270965
Stock_On_Hand     3.197405
dtype: float64

In [52]:
cats = ['Weight_Kg', 'Low_Price', 'High_Price', 'Sales_Total', 'Total_Qty_Sold', 'Total_Kg_Sold', 'Stock_On_Hand']
for a in cats:
    apples_df[a] = apples_df[a].map(lambda i: np.log(i) if i > 0 else 0)
    test[a] = test[a].map(lambda i: np.log(i) if i > 0 else 0)

In [53]:
test.skew()

Index             0.000000
Weight_Kg         2.995465
Low_Price         1.631810
High_Price        1.443425
Sales_Total      -0.397272
Total_Qty_Sold   -0.326266
Total_Kg_Sold    -0.376128
Stock_On_Hand    -0.648157
dtype: float64

In [54]:
apples_df.skew()

Weight_Kg           2.624779
Low_Price           1.141070
High_Price          1.089270
Sales_Total        -0.482850
Total_Qty_Sold     -0.362500
Total_Kg_Sold      -0.411865
Stock_On_Hand      -0.511006
avg_price_per_kg    0.082452
dtype: float64

In [55]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

apples_df = apples_df[~((apples_df < (Q1 - 1.5 * IQR)) |(apples_df > (Q3 + 1.5 * IQR))).any(axis=1)]

In [60]:
apples_df['Province'].unique()

array(['CAPE', 'W.CAPE-BERGRIVER ETC', 'EASTERN CAPE', 'NATAL',
       'WEST COAST', 'TRANSVAAL', 'ORANGE FREE STATE'], dtype=object)

####  Categorical variables

In [61]:
codes = {"3.0": 0, "6.3": 1, "9.0": 2, "11.0": 3, "12.0": 4, "12.5": 5, "14.0": 6, "18.3": 7, "400.0": 8}
apples_df['Weight_Kg']= apples_df['Weight_Kg'].map(codes)
test['Weight_Kg']= test['Weight_Kg'].map(codes)

In [63]:
codes = {"CAPE": 0, "W.CAPE-BERGRIVER ETC": 1, "EASTERN CAPE": 2, "NATAL": 3, "ORANGE FREE STATE": 4, "TRANSVAAL": 5, "WEST COAST": 6}
apples_df['Province']= apples_df['Province'].map(codes)
test['Province']= test['Province'].map(codes)

In [65]:
codes = {"M4183": 0, "JG110": 1, "JE090": 2, "IA400": 3, "EC120": 4, "AC030": 5, "M6125": 6, "EF120": 7, "DT063": 8, "M9125": 9, "EG140": 10}
apples_df['Container']= apples_df['Container'].map(codes)
test['Container']= test['Container'].map(codes)

In [66]:
cocodes = {"1L": 0, "2M": 1, "2S": 2, "1S": 3, "1M": 4, "1X": 5, "2L": 6, "2U": 7, "2X": 8, "1U": 9}
apples_df['Size_Grade']= apples_df['Size_Grade'].map(codes)
test['Size_Grade']= test['Size_Grade'].map(codes)

In [67]:
apples_df.drop(['Commodities','Date'],axis=1,inplace=True)
test.drop(['Commodities','Date'],axis=1,inplace=True)

In [69]:
apples_df.isnull().sum()

Province               0
Container              0
Size_Grade          1951
Weight_Kg           1951
Low_Price              0
High_Price             0
Sales_Total            0
Total_Qty_Sold         0
Total_Kg_Sold          0
Stock_On_Hand          0
avg_price_per_kg       0
dtype: int64

In [70]:
apples_df.drop(['Size_Grade','Weight_Kg'],axis=1,inplace=True)
apples_df.isnull().sum()

Province            0
Container           0
Low_Price           0
High_Price          0
Sales_Total         0
Total_Qty_Sold      0
Total_Kg_Sold       0
Stock_On_Hand       0
avg_price_per_kg    0
dtype: int64

In [74]:
apples_df.head()

,Province,Container,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
1,0,0,5.010635,5.135798,10.853406,5.805135,8.712036,6.711740,8.51
7,0,1,3.912023,3.912023,9.680344,5.768321,8.166216,0.000000,4.55
24,1,2,4.007333,4.007333,6.897705,2.890372,5.087596,7.317212,6.11
40,0,0,4.382027,4.787492,10.374116,5.961005,8.867906,6.093570,4.51
69,2,3,7.495542,7.495542,7.495542,0.000000,5.991465,0.693147,4.50

In [71]:
test.head()

,Index,Province,Container,Size_Grade,Weight_Kg,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
0,1,1,4,NaN,NaN,4.852030,4.912655,8.518792,3.637586,6.122493,0.000000
1,2,1,0,NaN,NaN,5.393628,5.393628,7.473069,2.079442,4.986343,0.693147
2,3,1,4,NaN,NaN,4.787492,4.787492,6.579251,1.791759,4.276666,3.806662
3,4,1,0,NaN,NaN,5.075174,5.075174,5.075174,0.000000,2.906901,2.079442
4,5,1,0,NaN,NaN,4.941642,5.075174,9.556763,4.605170,7.512071,2.944439

In [72]:
test.isnull().sum()

Index               0
Province            0
Container           0
Size_Grade        685
Weight_Kg         685
Low_Price           0
High_Price          0
Sales_Total         0
Total_Qty_Sold      0
Total_Kg_Sold       0
Stock_On_Hand       0
dtype: int64

In [73]:
test.drop(['Size_Grade','Weight_Kg'],axis=1,inplace=True)
test.isnull().sum()

Index             0
Province          0
Container         0
Low_Price         0
High_Price        0
Sales_Total       0
Total_Qty_Sold    0
Total_Kg_Sold     0
Stock_On_Hand     0
dtype: int64

In [75]:
apples_df.head()

,Province,Container,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
1,0,0,5.010635,5.135798,10.853406,5.805135,8.712036,6.711740,8.51
7,0,1,3.912023,3.912023,9.680344,5.768321,8.166216,0.000000,4.55
24,1,2,4.007333,4.007333,6.897705,2.890372,5.087596,7.317212,6.11
40,0,0,4.382027,4.787492,10.374116,5.961005,8.867906,6.093570,4.51
69,2,3,7.495542,7.495542,7.495542,0.000000,5.991465,0.693147,4.50

In [76]:
test.head()

,Index,Province,Container,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
0,1,1,4,4.852030,4.912655,8.518792,3.637586,6.122493,0.000000
1,2,1,0,5.393628,5.393628,7.473069,2.079442,4.986343,0.693147
2,3,1,4,4.787492,4.787492,6.579251,1.791759,4.276666,3.806662
3,4,1,0,5.075174,5.075174,5.075174,0.000000,2.906901,2.079442
4,5,1,0,4.941642,5.075174,9.556763,4.605170,7.512071,2.944439

### Modelling

In [77]:
X_train = apples_df.drop(['avg_price_per_kg'], axis=1)
Y_train = apples_df["avg_price_per_kg"]
X_test  = test.drop("Index", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((1951, 8), (1951,), (685, 8))

In [78]:
xgb = XGBRegressor()
xgb.fit(X_train,Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [79]:
y_pred = xgb.predict(X_test)
y_pred

array([11.009044 , 11.942808 , 10.043292 ,  8.694312 ,  7.9229555,
        4.6186833,  3.6957679,  7.4431124,  8.422279 ,  9.393129 ,
        5.494694 ,  5.6990128,  8.528781 ,  4.310257 ,  4.507008 ,
        6.0917335,  6.9610457,  4.507426 , 10.9204235,  6.390611 ,
        6.138003 ,  4.7280207,  5.6774774,  7.7608495,  5.5551353,
        6.7840095,  7.9837375,  7.886701 ,  7.5550613,  7.171591 ,
        8.072196 ,  5.616564 ,  9.523572 ,  7.669908 ,  4.8736596,
        9.889877 , 10.853143 , 11.421347 ,  6.1764994,  6.7230377,
        9.030946 ,  7.4831777,  4.9542456,  6.2279496,  5.5583076,
        4.7737303,  4.988839 ,  5.528941 ,  6.1055202,  4.9185286,
        1.4783832,  6.0847464,  6.2815223, 13.770041 ,  8.949925 ,
        4.632792 , 12.229613 ,  9.2779045,  7.643649 ,  5.6774344,
        8.359211 , 11.551817 ,  6.149157 ,  9.313957 ,  5.722327 ,
        6.135723 ,  6.8634076,  4.7212715,  5.687168 ,  7.1128035,
        5.2474313,  4.3592653,  2.9234428,  8.094502 ,  6.8743587,
        4.709193 ,  6.10573  ,  9.296343 , 10.6308155,  6.4236555,
        7.07288  ,  5.0342193,  6.0374413,  5.6014957,  1.123321 ,
        5.4566755,  7.5199485, 11.584636 ,  4.675896 ,  6.6691337,
        9.470289 ,  9.756524 ,  7.4316196,  5.8262615,  5.963248 ,
        6.6837077,  8.399508 ,  9.29144  ,  7.008439 ,  5.556376 ,
       12.0363245,  6.2928033,  5.9550843,  7.706099 ,  7.43195  ,
        8.496275 ,  7.5300903,  2.6794636,  9.956077 ,  5.0204597,
        4.284928 ,  7.77995  ,  6.0574064,  4.1797633,  6.5398073,
       10.080576 ,  5.2441535, 10.178928 ,  4.4411016,  6.767364 ,
        6.0485406,  4.1083302,  9.932222 ,  4.444242 ,  8.531361 ,
        7.152974 ,  4.344588 ,  8.964818 ,  9.752738 ,  5.818996 ,
        7.3597383,  5.7752213,  9.15479  ,  8.312094 ,  1.2783209,
        6.322727 ,  7.7648387,  7.3321333,  7.824318 ,  5.549982 ,
        7.8438125,  5.50189  ,  8.777232 ,  4.892832 ,  9.039677 ,
        6.596137 ,  5.2993813,  8.267914 ,  5.5292892,  8.792291 ,
        9.967079 ,  7.6060123,  4.4603796,  8.89493  ,  7.0920143,
       10.949092 ,  5.363467 ,  4.3872623,  5.9921517,  5.9795933,
        7.9701786,  9.889592 ,  7.169854 ,  8.383316 ,  7.8115454,
        8.327564 ,  7.784529 ,  7.006695 ,  5.067608 ,  7.6338058,
        8.393467 ,  6.856318 ,  5.050934 , 11.75581  ,  6.083379 ,
        4.6737075,  8.478831 ,  5.746261 ,  5.96744  ,  7.296814 ,
        4.9293003,  0.313275 , 10.451335 ,  7.3258195,  7.0106864,
        1.6474618,  3.6562152,  9.867025 ,  6.764129 ,  5.5542006,
        5.5901995,  9.215791 ,  5.0318756,  4.5469832,  9.951216 ,
        8.842837 ,  8.791603 ,  7.0462246,  5.9988704,  8.640325 ,
        7.6360083,  2.897696 ,  7.879279 ,  1.6040969,  6.3072667,
        4.455318 ,  8.085035 ,  7.7608495,  7.504253 ,  8.18456  ,
        7.3210616, 13.875284 ,  5.326327 ,  5.9648666,  9.512327 ,
        5.6000633,  5.927696 ,  5.5885425, 10.605869 ,  7.2214146,
        5.697395 ,  5.114394 ,  8.940999 , 11.040813 , 11.948252 ,
        6.830599 ,  5.9571733,  5.492482 ,  9.009377 ,  5.513356 ,
        5.018444 , 10.247902 ,  7.607875 ,  5.43237  ,  6.6562924,
        6.145582 ,  8.8219   ,  8.770832 ,  3.9753633,  5.6030545,
        4.413669 ,  5.2174788,  6.762555 ,  7.9375505, 10.891368 ,
        6.9631395,  5.8649783,  7.59498  ,  5.051887 ,  9.20418  ,
        8.460263 ,  9.660977 ,  5.271525 ,  5.062622 ,  6.5778184,
        4.683264 ,  7.3880987,  8.870965 ,  9.052505 ,  8.617557 ,
       10.657371 , 10.581334 ,  6.151769 ,  5.8595486,  5.1439276,
        7.525572 ,  4.697437 ,  6.365446 ,  3.403719 ,  6.6366405,
        8.403744 ,  6.9292083, 10.788129 ,  1.6048733,  7.7812166,
       10.045359 ,  5.2351403,  6.6836176,  5.991481 ,  7.985822 ,
        5.063771 ,  6.1561246,  6.5566635,  4.3598647,  9.40753  ,
        4.6000395,  5.832219 ,  5.2243075,  8.155927 ,  8.172314 ,
        6.2609262,  5.77796  ,  5.7412324,  1.2311457,  6.6060047,
        6.830364 ,  8.654806 ,  9.247571 ,  7.1813006,  7.092051 ,
        5.5711284,  6.1121526,  4.2751765,  6.2360272,  8.595708 ,
        9.494164 ,  5.596914 ,  4.3232784,  8.364024 ,  6.3272953,
        6.1491737,  7.318295 ,  5.1256723,  8.560214 , 10.609973 ,
        8.717106 ,  6.1307664,  6.0826273,  6.2522984,  6.5866785,
        6.1527286,  6.6699324,  4.171236 ,  8.065902 ,  5.001742 ,
        3.848098 ,  7.6207447,  5.854773 , 10.878279 ,  7.518593 ,
        5.4780397,  5.5259423,  9.16823  ,  5.954797 ,  8.180095 ,
        7.8915954,  8.726795 ,  6.5542626,  7.4897103,  4.5643473,
        7.5589542,  5.56884  ,  9.167541 ,  6.9307795,  9.325879 ,
        6.681027 ,  9.279111 ,  5.025181 ,  8.111639 ,  8.302018 ,
        7.5080924,  9.59458  ,  7.6654625,  9.77673  ,  6.467071 ,
        6.612272 ,  5.885174 ,  8.860531 ,  8.782807 ,  8.376521 ,
        6.4758506,  6.432295 ,  6.9314866,  8.322201 ,  5.4636536,
        6.994046 ,  7.652602 ,  7.3164115,  4.7826777,  8.457346 ,
        4.637776 ,  6.6458163,  6.106867 ,  9.284495 ,  6.308399 ,
        7.034059 ,  5.000614 ,  6.4495883,  7.6654625,  7.0436664,
        6.3252125,  7.094388 ,  6.884114 ,  6.9020805,  2.8108075,
        7.781221 ,  5.95903  ,  8.321665 ,  3.3914452,  8.78128  ,
        6.6521926,  6.491285 ,  9.322628 ,  9.094129 ,  1.4768405,
        8.511683 ,  7.010276 ,  7.149069 ,  7.497683 ,  6.322257 ,
        6.44175  ,  2.6246595, 10.362629 ,  5.4456196,  5.9772425,
       10.125603 ,  4.5344024,  7.448606 ,  4.6901097,  9.886179 ,
        9.931681 ,  4.1797633,  5.796612 ,  8.114797 ,  9.367021 ,
        4.657909 ,  8.419781 ,  5.1373715, 10.097116 ,  6.691959 ,
        3.3693051,  5.3509374,  7.865596 ,  5.2213426,  6.7406325,
        8.968697 ,  8.138237 ,  7.7698674,  8.55715  ,  6.610432 ,
       10.2157   ,  7.922174 ,  7.548989 , 10.585689 ,  7.047324 ,
        7.8069773,  4.522822 ,  5.6149435,  5.3953094,  6.089444 ,
        8.180498 ,  5.8913684, 10.070861 ,  9.84366  ,  9.147305 ,
       10.40797  ,  7.494536 ,  8.249185 ,  8.003524 ,  8.836338 ,
       10.014514 ,  7.011231 ,  9.280542 ,  7.570566 ,  6.448659 ,
        8.099724 ,  8.283292 ,  8.564447 ,  4.421479 ,  7.536809 ,
        4.9881597,  9.041151 ,  5.544574 ,  5.7426133,  8.708243 ,
        4.0614033,  4.7144485,  7.6908755,  5.5813413,  8.614848 ,
        7.9644303,  8.268471 ,  5.46096  ,  4.9954104,  5.524777 ,
       10.118362 , 10.431364 ,  4.1912847,  7.092442 ,  5.5616617,
        5.165702 ,  7.6406355,  4.7914705,  3.1584122,  8.314699 ,
        7.2108536,  8.3579445,  3.2664583,  3.0329914,  4.1912847,
        5.696128 ,  6.932776 ,  7.704511 ,  7.6414227, 10.630663 ,
        6.740523 ,  4.5462375,  8.47477  ,  8.204444 ,  9.479853 ,
        9.707827 ,  3.662151 ,  8.714181 ,  9.113757 ,  8.584463 ,
       10.0299835,  7.362782 ,  6.657014 ,  7.52697  ,  4.9326286,
        8.496275 ,  7.061886 ,  6.160017 ,  4.413669 ,  7.6675215,
        8.488562 ,  8.141108 ,  6.2838717,  7.0423775,  4.7828674,
        9.207242 ,  5.4371123,  6.25736  ,  6.866168 ,  7.171456 ,
        8.919785 ,  7.607875 ,  2.926751 ,  4.421479 ,  9.779686 ,
        9.824762 ,  5.2956557,  8.677764 ,  7.226951 ,  9.155898 ,
        8.496275 ,  7.078603 ,  5.4873486,  6.3522787,  8.511511 ,
        8.629554 ,  4.9146285,  7.622281 ,  9.056634 ,  7.865986 ,
        6.077022 ,  8.40524  ,  6.3467026,  4.5542455,  6.3636274,
        5.307839 ,  5.9773197,  6.0505114,  4.971067 ,  5.5167956,
        5.2231975, 10.148624 ,  6.9192495,  5.058732 ,  5.8893147,
        8.847527 ,  4.578073 ,  5.5834837,  5.373917 ,  7.172112 ,
        4.7530293,  9.372856 ,  7.6360083,  9.010261 ,  8.477459 ,
        4.6000395,  6.160017 ,  9.0522995,  8.052364 ,  5.0396223,
        5.937661 ,  6.30881  ,  4.225076 ,  7.5093565, 10.888089 ,
        5.5660806,  5.260322 ,  3.2240949,  6.5616407,  8.858452 ,
        8.388127 ,  6.2819877, 13.77531  ,  6.63477  ,  7.2810855,
        8.768316 ,  7.0624175,  6.197331 ,  6.5117717,  6.666799 ,
        6.1286902,  6.285563 ,  6.5859485,  7.433604 ,  5.546568 ,
        6.6339216,  7.366046 , 10.835039 ,  8.643073 ,  7.0705323,
        2.241117 ,  8.076737 ,  4.1705995,  8.243394 ,  9.015048 ,
        8.653932 ,  8.190712 ,  7.482401 ,  4.772192 , 10.584367 ,
        5.927101 ,  6.4027605, 13.926174 ,  5.5553384,  7.7457213,
        4.854761 , 10.596627 ,  8.145113 ,  5.552565 ,  6.151181 ,
        4.9542456,  6.1201024,  4.399585 ,  6.8170896,  5.4542003,
        5.7429223,  6.8994856,  5.5982037,  5.686785 ,  7.187377 ,
        6.099139 ,  8.839378 ,  5.7208266,  4.415305 ,  8.010635 ,
        6.3467026,  4.99506  ,  8.314699 ,  4.3592014, 10.860977 ,
        7.424969 ,  6.589066 ,  4.1788983,  9.453041 ,  7.9547358,
        5.6446743,  7.3656745,  5.5936646,  8.765829 ,  4.7041254,
        7.652602 ,  4.548126 ,  4.4914665,  5.392471 ,  9.2849865,
        6.100832 ,  6.591765 ,  6.1379604,  1.6090956, 10.933974 ,
        8.196125 ,  7.801914 ,  4.8642545, 11.421347 ,  6.896201 ,
        9.819172 ,  5.508562 ,  4.9727416,  7.152384 , 10.967962 ,
       10.202034 ,  6.051576 ,  5.8338614,  7.3933015,  2.0321026,
        3.284856 , 10.035151 ,  6.110547 ,  7.277902 ,  7.551412 ],
      dtype=float32)

In [82]:
# Calculating the accuracy
print("Accuracy:",round(xgb.score(X_train, Y_train)*100,2))

Accuracy: 99.91

In [83]:
submission = pd.DataFrame({
        "Index": test["Index"],
        "Price": y_pred
    })
submission.to_csv('https://raw.githubusercontent.com/MathewJohn1986/Team-8-Predict/main/sample_submission.csv', index=False)

TypeError: a bytes-like object is required, not 'str'

In [85]:
submission

     Index      Price
0        1  11.009044
1        2  11.942808
2        3  10.043292
3        4   8.694312
4        5   7.922956
..     ...        ...
680    681   3.284856
681    682  10.035151
682    683   6.110547
683    684   7.277902
684    685   7.551412

[685 rows x 2 columns]